<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Social Media API</title>
  <link rel="stylesheet" href="/css/styles.css">
  <style>
    body {
      background: url('/images/stephen-collins-cRhNdY9-2Sc-unsplash.jpg') no-repeat center center fixed;
      background-size: cover;
      color: white;
    }
  </style>
</head>
<body>
  <nav>
    <a href="/login">Login</a>
    <a href="/register">Sign Up</a>
  </nav>
  <div class="profile">
    <h1>Welcome to the Pool House Social Media page!</h1>
  </div>
</body>
</html>